/* main */
html {
    background: url(../images/disney_2.jpg) no-repeat center center fixed;
    overflow: hidden;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 100vh;
}

.flex-column {
    display: flex;
    flex-direction: column;
  }
  
  .flex-center {
    justify-content: center;
    align-items: center;
  }

/* quiz style */
.quiz-container {
    background: #e7bb41;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.quiz-container h3 {
    font-family: 'Luckiest Guy', sans-serif;
    font-size: 4rem;
    text-align: center;
    color: #2a9d8f;
}

/* question container style */
.question-container {
    margin-bottom: 1rem;
}

.question-container h2 {
    font-family: 'Patrick Hand', sans-serif;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    color: #2a9d8f;
}


/* buttons */
.btn {
    background: #e76f51;
    color: #156064;
    width: 100%;
    border: 1px solid #e76f51;
    padding: 10px;
    margin: 10px 0;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 1.1rem;
}

.btn:hover {
    background: #2a9d8f;
    color: #264653
}

#next-question-btn {
    background: #e76d51;
    color: #156064;
    text-align: center;
    font-weight: 500;
    font-size: 1.1rem;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

/* feedback when answer is right or wrong */
.correct {
    background: green;
}

.incorrect {
    background: red;
}

/* footer */
.footer p {
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Patrick Hand', sans-serif;
    color: #e76d51;
    margin-top: 1rem;
}

/* media queries */

/* for screens from 560px wide and up */
@media screen and (max-width: 560px) {
    .quiz-container {
        margin: 55px auto;
    }

    .quiz-container h3 {
        font-size: 3.5rem;
    }

    .footer p {
        font-size: 18px;
    }
}

/* for screens from 400px wide and up */
@media screen and (max-width: 400px) {
    .quiz-container h3 {
        font-size: 2.5rem;
    }

    .question-container h2 {
        font-size: 2rem;
    }
}

/*for screens from 375px wide and up */
@media screen and (max-width: 375px) {
    .quiz-container {
        margin: 1rem;
    }

    .quiz-container h3 {
        font-size: 2rem;
    }

    .question-container h2 {
        font-size: 1.7rem;
    }
}
